body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}
.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
    width: 90%;
    max-width: 600px;
}



button{
    padding: 16px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s;
}
button:hover{
    background-color: darkblue;
    transform: scale(1.05);
}
button:disabled{
    background-color: #f4f4f4;

}
#question-container{
    margin-bottom: 15px ;
}
.opt{
    display:flex;
    border-radius: 50px;
    justify-content: space-between;
    width: 240px;
    margin:10px 0;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: background 0.3s, transform 0.2s;

}
.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}
.opt:hover{
    background-color: lightgray;
    transform: scale(1.05);
}
.correct{
    background-color: green !important; color: white;
}
.wrong{
    background-color: red !important; color: white;
}
#score{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}